{% extends "layout.html" %}

{% block title %}
    Settings

{% endblock %}

{% block main %}

    <h1>Settings (TODO)</h1><br><br>
    <form onload="success()" action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm Password" type="password">
        </div><br>
        <button class="btn btn-primary" type="submit">Create account</button>
        <br><hr><br>
        <div>
            {% if reg_errs == "a" %}
            <image src="/static/error.jpg" style="width: 40px;"></image><br>
            <text id="register-errors" class="form-group">You must provide a username and password. Please enter again.</text><br><hr><br>
            {% elif reg_errs == "b" %}
            <image src="/static/error.jpg" style="width: 40px;"></image><br>
            <text id="register-errors" class="form-group">Passwords don't match. Please enter your details again.</text><br><hr><br>
            {% elif reg_errs == "c" %}
            <image src="/static/error.jpg" style="width: 40px;"></image><br>
            <text id="register-errors" class="form-group">The username you enterred is already taken. Please select another username.</text><br><hr><br>
            {% endif %}
        </div>
    </form>
{% endblock %}
